{% extends 'base.html.twig' %}

{% block javascripts %}
    <script type="module" src="{{ asset('js/camouflages_challenges.js') }}"></script>
{% endblock %}

{% block body %}

    <h1>{{ title }}</h1>

    <div class="camouflages">
        {% for weaponCategoryName,weaponCamouflages in camouflagesChallenges %}
            <h2>{{ weaponCategoryName }}</h2>
            <div class="camouflage-weapon-category {% if weaponCamouflages.checked %} checked{% endif %}"
                 id="{{ weaponCategoryName }}"
                 data-id="{% if weaponCamouflages.goldWeaponChallengeId is defined %}{{ weaponCamouflages.goldWeaponChallengeId }}{% endif %}"
            >
                {% for weaponName,weaponData in weaponCamouflages.weapons %}
                    {% set isGold = weaponName is same as weaponCamouflages.goldWeapon %}
                    <div class="camouflage-weapon{% if isGold %} gold{% endif %}{% if weaponData.checked %} checked{% endif %}">
                        <div class="row">
                            <div class="col">
                                <h3 class="weapon-name"
                                    data-bs-toggle="tooltip"
                                    data-bs-title="Double-click to complete weapon"
                                >
                                    {{ weaponName }}
                                    <div class="overlay"></div>
                                </h3>
                            </div>
                        </div>
                        <div class="row camouflages-row">
                            {% for camouflage in weaponData.camouflages %}
                                {% set camouflageNameCamel = camouflage.entity.getName()|u.camel %}
                                {% set camouflageChallengeLabelId = 'challenge.camouflage.' ~ camouflage.entity.getType().value %}

                                {% set isDefault = camouflage.entity.getType() is same as constant('App\\Constantes\\Challenge\\Camouflage\\CamouflageType::DEFAULT') %}
                                {% if isDefault %}
                                    {% set camouflageChallenge = camouflageChallengeLabelId|trans %}
                                {% else %}
                                    {% set camouflageChallenge = camouflage.entity.getAmount() ~ ' ' ~ camouflageChallengeLabelId|trans %}
                                {% endif %}

                                <div class="col">
                                    <div class="camouflage {{ camouflage.entity.getType().value }} {% if camouflage.checked %}checked{% endif %}"
                                         id="{{ camouflage.entity.getName() }}"
                                         data-bs-toggle="tooltip"
                                         data-bs-title="{{ camouflage.entity.getName() ~ ' - ' ~ camouflageChallenge|trans }}"
                                         data-id="{{ camouflage.entity.getId() }}"
                                    >
                                        <img src="{{ asset('img/challenge/camouflage/' ~ camouflageNameCamel ~ '.png') }}"
                                             alt="{{ camouflage.entity.getName() }}"
                                        >
                                        <div class="overlay"></div>
                                        <i class="bi bi-check"></i>
                                        <i class="bi bi-x"></i>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>

{% endblock %}
